*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

header{
    background-color: rgb(65, 59, 59)
}

main{
    color: red;
    background-color: rgb(156, 156, 156);
}